<%- include('../_layouts/adminheader'); %>
<div class="container" style="height: 75vh">
  <h2 class="page-title">Edit Page</h2>
  <a href="/admin/categories" class="btn btn-primary">Back to all Categories</a>
  <form method="POST" action="/admin/categories/edit-category/<%= id %>">
    <div class="form-group">
      <label for="">Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        value="<%=title %>"
        placeholder="title..."
      />
    </div>

    <button class="btn btn btn-success">Submit</button>
  </form>
</div>
<%- include('../_layouts/adminfooter'); %>
